# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/web
/windows
/macos
/linux

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/
Various
## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

VinID/Resources/Icon.xcassets/AppIcon.appiconset/

## Other
*.moved-aside
*.xcuserstate
*.DS_Store

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
# fastlane/screenshots
fastlane/test_output

# AppCode Jetbrains
.idea

# Auto generate files
Firebase/GoogleService-Info.plist
Features/Ticket/Sources/VT_GoogleService-Info.plist
VinID/Resources/Icon.xcassets/AppIcon.appiconset/Contents.json
container
Features/VinCart/node_modules
tulsigen-*
tulsi-includes
tulsi-workspace
tulsi-aspects

*.xcode_select_env
bazel-*
VinID/*.xcodeproj
external
Vendor/
.cache/
*.tulsiconf-user
*.framework
.bazelrc.local
xchammer.app
.bazel/
.bazel_disk_cache/
.bazel_repo_cache/
.provisioning_profile
.provisioning_profile/
.vinoneversion.local
.xcode_select_env

*.pyc
*.swp

.natrium/

_idx_*

# MkDocs
docs/bazel/html/
nohup.out
docs/bazel/output
/output/

node_modules/
*.log
tools/tulsi/bazel_build.py
tools/tulsi/indexer_remap_external.sh
.cached_swiftgen.yml
.swiftgen.yml
.imagededup
out_cpd/
.prebuilt/
mini-app-sdk
